.PackagDetails form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.PackagDetails form input,textarea{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}
.PackagDetails textarea{
    width: 100%;
}